@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d0d1d3;
  padding: 0 16px;
  background-color: #fff;
}

header > div {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 1216px;
}

h1 {
  font-size: 24px;
}

/* Main */

.wrapper {
  width: 100%;
  padding-top: 32px;
  display: flex;
  justify-content: center;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1216px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.webgl-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.webgl {
  width: 100%;
}

span {
  position: absolute;
}

span > img {
  height: 34px;
  width: 34px;
}

#rotateX,
#rotateY,
#stop {
  all: unset;
  cursor: pointer;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #efeff0;
}

#rotateX {
  position: absolute;
  bottom: 32px;
  left: 32px;
}

#rotateY {
  position: absolute;
  bottom: 32px;
  left: 80px;
  transform: rotate(90deg);
  opacity: 0.6;
}

#stop {
  position: absolute;
  bottom: 32px;
  left: 128px;
  transform: rotate(90deg);
}

.product {
  width: 100%;
  max-width: 560px;
  padding: 8px;
}

h2 {
  margin-top: 0;
  font-size: 22px;
}

.description {
  margin: 0;
}

.rating {
  margin-bottom: 16px;
}

.rating > div > img {
  margin-right: 0px;
  margin-top: 4px;
}

form {
  width: 100%;
}

form select {
  width: 100%;
  margin-bottom: 16px;
  padding: 12px;
  font-size: 16px;
  background-color: #efeff0;
  border: 1px solid #d0d1d3;
}

form > button {
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  background-color: #333;
  color: #fff;
  border: none;
}

img {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

table {
  margin-top: 28px;
  width: 100%;
  border-collapse: collapse;
}

tr {
  border: 1px solid #d0d1d3;
  color: #333;
}

tr:nth-of-type(2) {
  border-top: none;
  border-bottom: none;
}

td {
  padding: 8px;
  font-size: 12.8px;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 700;
}

td > p {
  font-weight: 400;
}

/* Newsletter */

.newsletter {
  display: flex;
  justify-content: center;
  background-color: #efeff0;
  margin-bottom: 36px;
  border-bottom: none;
}

.newsletter > div {
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
  padding: 0 8px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
  gap: 16px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 24px;
  margin-top: 16px;
  gap: 16px;
  width: 100%;
  max-width: 560px;
}

.newsletter-form > p:first-of-type {
  font-weight: 700;
  font-size: 16px;
}

.radio {
  background-color: red;
}

.newsletter-form button {
  all: unset;
  margin-top: 16px;
  padding: 8px;
  background-color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
}

.newsletter-form button:hover {
  opacity: 0.6;
}

.icon {
  height: 100%;
  max-height: 32px;
  width: auto;
  filter: invert(95%) sepia(0%) saturate(7500%) hue-rotate(26deg)
    brightness(107%) contrast(108%);
}

.newsletter-form > p:last-of-type {
  font-weight: 400;
  font-size: 12px;
}

input {
  width: 100%;
  outline: none;
  border: none;
  text-align: start;
  font-size: 16px;
  margin-bottom: 16px;
  padding: 12px 0px;
  text-align: center;
  border: 1px solid #d0d1d3;
}

input:hover,
input:focus,
input:active {
  outline: 1.6px solid #333;
  transition: 40ms outline ease-in-out;
}

.radio {
  all: unset;
  display: flex;
  gap: 8px;
  align-items: center;
}

.radio > input {
  all: unset;
  appearance: none;
  margin-left: 0px;
  width: 18.4px;
  height: 18.4px;
  border: 1px solid #333;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.radio > input::before {
  content: '';
  width: 10.4px;
  height: 10.4px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #333;
}

.radio > input:checked::before {
  transform: scale(1);
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #fff;
}

footer > div {
  border-bottom: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
  padding: 0 8px;
}

.links {
  width: 100%;
  padding: 8px 0px;
}

.links > ul {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #fff;
  padding: 0px;
}

.links li {
  list-style: none;
  padding-right: 8px;
  border-right: 2px solid #fff;
}

.links li:last-child {
  border-right: none;
}

.social {
  all: unset;
  text-align: left;
  padding: 24px 0px;
}

.social > ul {
  list-style: none;
  display: flex;
  gap: 8px;
  padding: 0px;
}

.social li {
  background-color: #fff;
  padding: 8px;
}

.social img {
  height: 24px;
  width: 24px;
  display: flex;
  margin-right: unset;
}

@media (max-width: 768px) {
  .wrapper {
    padding-top: 0px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  #rotateX {
    left: 108px;
  }

  #rotateY {
    left: 156px;
  }

  #stop {
    left: 204px;
  }

  .newsletter-form {
    padding-left: 8px;
    padding-right: 8px;
  }

  .newsletter > div {
    flex-direction: column;
    padding: 0;
  }

  .heading {
    align-items: center;
    padding: 32px 0px;
  }

  .social {
    text-align: center;
  }

  footer > div {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  #rotateX {
    bottom: 5%;
    left: 8px;
  }

  #rotateY {
    bottom: 5%;
    left: 56px;
  }

  #stop {
    bottom: 5%;
    left: 104px;
  }
}
