:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: #e1ebff;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  max-width: 1368px;
  box-sizing: border-box;
  justify-content: center;
  padding: 16px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 12px;
}

h4 {
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 8px;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #111111;
  border: 1px solid #2f2f2f;
  border-radius: 5px;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 8px;
  flex-basis: calc(50% - 8px);
  width: calc(50% - 8px);
}

li:hover {
  box-shadow: 0px 0px 1px 1px #ededed;
}

img {
  width: 80%;
  border-radius: 5px;
  max-width: 200px;
  max-height: 348px;
}

a {
  text-decoration: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: #888888;
}

span {
  display: flex;
  align-items: center;
  gap: 8px;
}

span > img {
  filter: invert(58%) sepia(10%) saturate(21%) hue-rotate(327deg)
    brightness(91%) contrast(86%);
  width: 16px;
  height: 16px;
}

@media (min-width: 768px) {
  li {
    flex-basis: calc(50% - 8px);
    width: calc(50% - 8px);
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  li {
    flex-basis: calc(33.33% - 10.67px);
    width: calc(33.33% - 10.67px);
  }
}

@media (min-width: 1200px) {
  li {
    flex-basis: calc(25% - 12px);
    width: calc(25% - 12px);
  }
}
