:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: #ededed;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 0px;
}

ul {
  max-width: 1280px;
  padding: 16px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 8px;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #111111;
  border: 1px solid #2f2f2f;
    border-radius: 5px;
  flex-basis: calc(50% - 8px);
  width: calc(50% - 8px);
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 16px;
}

li:hover {
  box-shadow: 0px 0px 1px 1px #ededed;
}

img {
  width: 80%;
  border-radius: 5px;
  max-width: 200px;
  max-height: 350px;
}

a {
  text-decoration: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: rgba(255, 255, 255, 0.87);
}

@media (min-width: 768px) {
  li {
    flex-basis: calc(50% - 8px);
    width: calc(50% - 8px);
  }
}

@media (min-width: 1024px) {
  li {
    flex-basis: calc(33.33% - 10.67px);
    width: calc(33.33% - 10.67px);
  }
}

@media (min-width: 1200) {
  li {
    flex-basis: calc(25 - 12px);
    width: calc(25 - 12px);
  }
}
